#!/bin/sh
pkgname=libgksu
modname=libgksu
pkgver=2.0.12
xml_lang="zh_CN"
url="http://www.nongnu.org/gksu/index.html"
source="http://people.debian.org/~kov/gksu/${pkgname}-${pkgver}.tar.gz"
configure="--enable-gtk-doc --prefix=/usr --disable-schemas-install"
moddir="$srcdir/libgksu"
docdir="$srcdir/docs"
htmldir="$srcdir/docs/html"
svnroot="https://gtk-doc-cn.googlecode.com/svn/docs/libgksu"

make_release()
{
	tmpdir=tmp/svndocs
	if [ -d $tmpdir ];then
		svn update $tmpdir/$modname
	else
		mkdir $tmpdir
		svn checkout $svnroot $tmpdir/$modname
	fi
	if [ -d tmp/html ];then
		cp tmp/html/* $tmpdir/$modname/
		svn status $tmpdir/$modname |grep "?" |awk '{print $2}'|xargs svn add
		find $tmpdir/$modname -maxdepth 1 -type f -name "*.htm*" -exec svn propset "svn:mime-type" "text/html" {} \;
		svn commit -m "update $modname html docs" $tmpdir/$modname
	else
		echo "please make docs first"
	fi
}
