pkgname=libgksu
modname=libgksu
pkgver=2.0.8
url="http://www.nongnu.org/gksu/index.html"
source="http://people.debian.org/~kov/gksu/${pkgname}-${pkgver}.tar.gz"
configure="--enable-gtk-doc --prefix=/usr"
moddir="$srcdir/libgksu"
docdir="$srcdir/docs"
htmldir="$srcdir/docs/html"
