pkgname=libgksu
modname=libgksu
pkgver=2.0.8
url="http://www.nongnu.org/gksu/index.html"
source="http://people.debian.org/~kov/gksu/${pkgname}-${pkgver}.tar.gz"
configure="--enable-gtk-doc --prefix=/usr"
moddir="$srcdir/libgksu"
docdir="$srcdir/docs"
htmldir="$srcdir/docs/html"
svnroot="https://gtk-doc-cn.googlecode.com/svn/docs/libgksu"

make_release()
{
	tmpdir=`mktemp -d`
	svn checkout $svnroot $tmpdir/$modname
	cp tmp/html/* $tmpdir/$modname/
	svn status $tmpdir/$modname |grep "?" |awk '{print $2}'|xargs svn add
	find $tmpdir/$modname -maxdepth 1 -type f -name "*.htm*" -exec svn propset "svn:mime-type" "text/html" {} \;
	svn commit -m "update $modname docs" $tmpdir/$modname
	rm -rf $tmpdir
}
