pkgname=glib
modname=glib
pkgver=2.20.4
url="http://www.gtk.org/"
source="http://ftp.gnome.org/pub/GNOME/sources/glib/2.20/glib-${pkgver}.tar.bz2"
configure="--enable-gtk-doc --prefix=/usr"
moddir="$srcdir/glib"
docdir="$srcdir/docs/reference/glib"
htmldir="$srcdir/docs/reference/glib/html"
