pkgname=gtk+
modname=gdk
pkgver=2.16.6
url="http://www.gtk.org/"
source="http://ftp.gnome.org/pub/gnome/sources/gtk+/2.16/gtk+-${pkgver}.tar.bz2"
configure="--enable-gtk-doc --prefix=/usr"
moddir="$srcdir/gdk"
docdir="$srcdir/docs/reference/gdk"
htmldir="$srcdir/docs/reference/gdk/html"
