#!/bin/sh
pkgname=gdk-pixbuf
modname=gdk-pixbuf
pkgver=2.22.1
xml_lang="zh_CN"
url="http://www.gtk.org/"
source="http://download.gnome.org/sources/gdk-pixbuf/2.22/$modname-${pkgver}.tar.bz2"
configure="--enable-gtk-doc --prefix=/usr"
moddir="$srcdir/gdk-pixbuf"
docdir="$srcdir/docs/reference/gdk-pixbuf"
htmldir="$srcdir/docs/reference/gdk-pixbuf/html"
svnroot="https://gtk-doc-cn.googlecode.com/svn/docs/gdk-pixbuf"

make_release()
{
	tmpdir=tmp/svndocs
	if [ -d $tmpdir ];then
		svn update $tmpdir/$modname
	else
		mkdir $tmpdir
		svn checkout $svnroot $tmpdir/$modname
	fi
	if [ -d tmp/html ];then
		cp tmp/html/* $tmpdir/$modname/
		svn status $tmpdir/$modname |grep "?" |awk '{print $2}'|xargs svn add
		find $tmpdir/$modname -maxdepth 1 -type f -name "*.htm*" -exec svn propset "svn:mime-type" "text/html" {} \;
		svn commit -m "update $modname html docs" $tmpdir/$modname
	else
		echo "please make docs first"
	fi
}
