pkgname=gtk+
modname=gtk
pkgver=2.16.6
url="http://www.gtk.org/"
source="http://ftp.gnome.org/pub/gnome/sources/gtk+/2.16/gtk+-${pkgver}.tar.bz2"
configure="--enable-gtk-doc --prefix=/usr"
moddir="$srcdir/gtk"
docdir="$srcdir/docs/reference/gtk"
htmldir="$srcdir/docs/reference/gtk/html"
